node_modules
.env
uploads/images/*
uploads/invoices/*
uploads/services/*
uploads/support/*
uploads/media/*
uploads/recru/*
uploads/box/*
uploads/machines/*
uploads/demande-machines/*
!uploads/images/readme.md
!uploads/machines/readme.md
